* 
{
    background-color: #f8f9fa;
    box-sizing: border-box;
}

html, body 
{
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  width: 100%; height: 100%;
  overflow: hidden;
  position: absolute;
}

#TopBar 
{
  display: inline-block;
  width: 100%; height: 4%;
  font-size: 22px;
  padding: 0.5rem;
  color: #f0f0f0 ;
  background-color: gray;
}

#root 
{
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#MainArea
  {
  display: flex ;
  width: 75%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #f0f0f0 ;
  background-color: gray;
  }

/* MENU CSS */

#RightMenu
  {
  width: 25% ;
  padding: 4px ;
  font-size: 22px;
  color: #f0f0f0 ;
  background-color: gray;
  border: 2px solid green ;
  }

.NavBut, .NavButHoriz
  {
  display: block;
  color: #f0f0f0 ;
  background-color: #0f0f0f;
  border: 2px solid green ;
  text-decoration: none;  /* Remove underline from links  */
  margin: 2px ;
  padding: 4px ;
  }

.NavBut:hover 
{
  background-color: #888; /* Dark grey background on mouse-over */
  cursor:pointer;
}

.NavBut.active 
{
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}

.NavButHoriz
  {
    display: inline-block ;
  }

/* Pages */

#StartPage, #IntroPage, #IntroPage2
  {
  display: flex ;  
  flex-direction: column ;
  justify-content: flex-start;
  width: 100%; height: 100%;
  color: #f0f0f0 ;
  background-color: gray;
  border: 2px solid red;
  }

#StartPage
  {
  justify-content: center;
  color: #f0f0f0 ;
  background-color: gray;
  border: 2px solid red;
  }

#StartPage div
  {
  align-items: center;
  font-size: 48px;
  color: #f0f0f0 ;
  background-color: gray;
  }

#IntroPage2, #IntroPage2 div
  {
  font-size: 22px;
  color: #f0f0f0 ;
  background-color: #0f0f0f;
  }

/* Panels */

#TopPanel
  {
  display: inline-flex;
  width: 100%; height: 80%;
  align-items: flex-start;
  border: 2px solid blue;
  }

#TopPanel, #TopPanel div, #TopPanel h1, #LeftPanel, #ButPanel
  {
  display: flex;
  color: #f0f0f0 ;
  background-color: #0f0f0f;
  flex-direction: column;
  }

#PanelBut
  {
  font-size: 40px;
  background-color: #eee; 
  }

#PanelBut:hover
  {
  cursor:pointer;
  background-color: #fff;
  }

#ButPanel
  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%; height: 20% ;
  padding: 4px ;
  font-size: 22px;
  color: #f0f0f0 ;
  background-color: gray;
  border: 2px solid green ;
  }

#GraphArea
  {
  overflow-y: auto;
  }
