body {
  font-family: sans-serif;
}
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: gray;

  box-sizing: border-box;
}

.logo {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  background-color: transparent;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.temp {
  font-size: clamp(1rem, 2vw, 1.5rem);
  background-color: transparent;
  position: absolute; 
  right: 1rem;
  transform: translateY(50%);
  color: red;
}
.measurement {
  margin: 2rem;
}
.all-data {
  margin: 2rem;
}