.PlantPicker 
  {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  font-size: 24px ;
  line-height: 24px ;
  aborder: 1px solid red ;
  }

.PlantPicker select
  {
  margin-left: 10px ;
  }