.PlantPicker 
  {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  font-size: 18px ;
  line-height: 18px ;
  aborder: 1px solid red ;
  }

.PlantPicker span
  {
  margin-right: 10px ;
  padding-bottom: 6px;
  color: lightgrey;
  }